.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

.container {
    flex-grow: 1;
}


.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}

.progress-bar {
    display: flex;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px; 
}

.progress-segment {
    flex: 1;
    height: 100%;
    background-color: #e0e0e0;
    margin-right: 4px; 
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.progress-segment:last-child {
    margin-right: 0; 
}

.active {
    background: linear-gradient(90deg, #8C57EA, #5570E8); 

}

.step-indicator {
    white-space: nowrap; 
    color: var(--text);
    margin-left: 10px;
    font-size: 12px;
}


.upload-card {
    padding: 15px;
    background-color: var(--bgSoft);
    border-radius: 10px;
    border: 1px solid #E2E8F0;
    max-width: 100%;
    margin: auto 20px;
    text-align: left;
}

.upload-card h3 {
    font-size: 16px; 
    font-weight: 600;
    color: #080F1B; 
    margin-bottom: 5px; 
    font-family: "Inter", sans-serif; 
    
}

.upload-card p {
    font-size: 12px; 
    color: #475569; 
    margin-bottom: 20px; 
    font-family: "Inter", sans-serif;
}


.upload-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    border: 2px dashed #E2E8F0;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    cursor: pointer;
    color: #b0b0b0;
    max-width: 700px;
}


.upload-area p  {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #080F1B; 
    margin-bottom: 16px;
}
.upload-area p:first-child {
    margin-bottom: 0;
}

.upload-area p:last-child {
    font-size: 14px;
    font-weight: 400;
    color: #b0b0b0;
line-height: 12px;

}
.upload-area p a {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
    color: #5570E8;
}


.upload-area img {
    width: auto;
    height: 45px; 
    margin: 10px; 
}

.uploaded-file-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f9;
    border-radius: 8px;
    padding: 20px 20px;
    border: 1px solid #e2e8f0;
    max-width: 700px;
    margin: 20px auto;
}

.uploaded-file-details,
.upload-area {
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.file-info {
    display: flex;
    align-items: center;
}

.file-icon {
    width: auto;
    height: 40px;
    margin-right: 10px;
}

.file-info h4 {
    font-size: 14px;
    font-weight: 600;
    color: #080f1b;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.file-info p {
    font-size: 12px;
    color: #475569;
    margin: 2px 0 0 0;
    font-family: "Inter", sans-serif;
}

.file-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.reupload-button, .delete-button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.reupload-button {
    background: linear-gradient(90deg, #8C57EA, #5570E8); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 14px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.reupload-button:hover {
    text-decoration: underline;
}

.delete-button {
    color: #EB5757;
}

.delete-button:hover {
    text-decoration: underline;
}


.field-formatting {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    margin: 20px auto;
}

.field-formatting h4 {
    margin-bottom: 10px;
    color: #333;
}

.field-formatting-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    gap: 20px;  
}

.field-formatting-details .left {
    width: 40%;
}

.field-formatting-details .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field-formatting-details p {
    margin: 10px 0;
    color: #475569;
}

.or-divider {
    text-align: left;
    margin: 20px 0;
    font-size: 14px;
    font-weight: 400;
    color: #b0b0b0;
}

.download-sample {
    color: #5570e8;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    align-self: flex-end; 
}

.fa-reg-check-circle {
  color: #008000;
}

.table-container {
    margin-top: 5px;
    padding: 20px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
}

.data-table th, .data-table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.data-table th {
    background-color: #E8E8E8;
    color: #333;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tr:hover {
    background-color: #f1f1f1;
}

.footer {
    width: 100%;
    background-color: var(--bgSoft);
    padding: 10px;
    text-align: right;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    border: 1px solid #ddd;
}


.continue-button {
    padding: 10px 40px;
    background: linear-gradient(90deg, #8C57EA, #5570E8);
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.continue-button:hover {
    background-color: #8C57EA;
}



