.main-container{
    padding: 20px;
}
.table-container {
    border: 1px solid #e2e8f0;
    border-radius: 8px;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    font-size: 14px;

}

.table-header .left {
    display: flex;
    flex-direction: column;

}


.table-header .right {
    display: flex;
    flex-direction: column;

}


.table-header h3 {
    font-size: 15px;
    font-weight: 600;
    color: #2d3748;
}

.table-header p {
    font-size: 12px;
    color: #4a5568;
    margin-top: 5px;
}

.table-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cbd5e0;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4a90e2;
}

input:checked + .slider:before {
    transform: translateX(20px);
}
.summary-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.summary-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
}

.summary-item:first-child {
    background-color: #FDE8E8;
    color: #EB5757;
}

.summary-item:last-child {
    padding: 8px 10px;
    border:1px solid #E2E8F0;
    background-color: #EDF2F7;
    color: #4A5568;
}

.summary-item svg {
    font-size: 16px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 12px;
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
}

.data-table th, .data-table td {
    border: 1px solid #e2e8f0; 
    padding: 10px 10px;
    white-space: nowrap;
}

.data-table th {
    background-color: #E8E8E8;
    color: #2d3748;
}

.data-table th:first-child, 
.data-table td:first-child {
    background-color: #E8E8E8;
}

.data-table tr:nth-child(even) {
    background-color: #f7fafc;
}

.data-table tr:hover {
    background-color: #edf2f7;
}

.invalid {
    background-color: #fef2f2;
    color: #EB5757;
}

.invalid svg {
    margin-right: 5px;
}
